body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #5aa9f7;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
  margin-right: 80px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

nav ul li a:hover {
  background-color: #90b9eb;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownimg {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #55555550;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.admin-dashboard {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

#notice-board form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#notice-board textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

#notice-board button {
  width: 80px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #ff0000af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#notice-board button:hover {
  background-color: #b3000098;
}

ul#notices-list {
  list-style-type: none;
  padding: 0;
}

ul#notices-list li {
  background-color: #d3d2d2be;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
}
